@charset 'utf-8';
@import '../../../common/sass/base';

.top-nav-container{
	height: 3rem;
    padding-left: 8.5rem;
    background-color: $web_background;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0 .1rem .05rem .05rem $color_shadow;
    z-index: $sub_page_depth;
    .ivu-menu {
    	display: inline-block;
    }
    .search-box {
    	position: absolute;
        display: inline-block;
        width: 8rem;
        height: 100%;
        top: 50%;
        margin-top: -16px;
        .ivu-input {
        	border-radius: 10px;
        	background: #f8f8f9;
        }
    }
    .right-tool-bar {
    	width: 40%;
    	float: right;
    	height: 3rem;
    	padding-right: 3.5rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    	.icon-item{
    	   width: 2rem;
           span {
               font-size: .7rem;
           }
    	}
    }
}