@charset 'utf-8';
@import 'base';

html {
    background-color: #F0F1F5;
}

/* 右视图附加样式 */
.page-container{
    position: absolute;
    left: 0rem;
    top: 3rem;
    right: 0;
    bottom: 0;
    overflow: auto;
}

/* 左边菜单栏 */
.left-side-container {
	width: 10rem;
    background-color: $color_content;
    padding-top: 3.5rem;
    position: absolute;
    left: 0;
    top: 3rem;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    z-index: 5;
}